[2016-01-13 02:56] siuying opened #3 "Route with parameters"
When I use SwiftFlowRouter in a real-ish app, I figure I'd need to send parameters with route. For instance "/users/123" or "/posts/2345/comments"

I could use route ["Users:123"], ["Posts:2345", "Comments"] to represent them, but the swift way to do them is probably instead of string, use a StateType where have a name and parameter state as route?

I have also see subRouteState field, but I have

[2016-01-16 05:12] Ben-G commented on #3
Hi @siuying. Really good questions! Passing arguments as part of routes is one of the most important next steps for this router - I've been thinking about it a little, but haven't implemented anything yet.

**I want to note that I think in most cases, it is simpler to set the state for the next scene separately, before you change the route - then you don't rely on this feature at all**. You can ha

[2016-01-18 11:07] jschmid opened #4 "Usage with deep-linking and animations"
We are currently looking for a way to better handle our view controllers history, and Swift Flow Router happens to be a nice way to do it. As it's in early development, I'd like to give my 2 cents about one thing that seems to be important.

When re-working the way we handle our view controllers history/state, we also want to add support for deep linking, or what Apple calls [universal links](http

[2016-01-18 16:45] Ben-G commented on #4
@jschmid Yes! :100:. The desired `animated` state should be passed into the `Routable`!
This is simply an artifact of the early development stage :smile:

Would you consider using this Router for a non Swift Flow project? If so, I would prioritize my plans of distributing the router separately from the core framework, as it currently barely relies on any of its functionality.

Thanks for the input

[2016-01-19 13:39] jschmid commented on #4
We currently use MVVM everywhere in the app and are (somewhat) happy with it. There is no real need to us to use Swift Flow.

We will monitor closely the next steps or Swift Flow Router :+1:

[2016-01-21 16:03] siuying commented on #3
Thanks! I think using separate state for next scene is simplest and cleanest for now.

In the example you show, I'd say routes need to have their own state would be much simpler.

Instead of:

[code]

I'd

[code]

where internally no more ``store.dispatch(SetRouteSpecificData(route: newRoute, data: twitterSceneState.twitterSceneState.selectedTwitterUser!))`` and only access route specific data ins

[2016-01-22 01:10] snown opened #5 "Cannot convert 'MainStore<AppState>' to expected 'MainStore<_>'"
I'm having some trouble getting the Router instantiated. It seems to complain about my `mainStore` object regardless of if I'm using `MainStore` or `RecordingMainStore`, and I'm having trouble tracking down where it's choking.

Here's the error:
`Cannot convert value of type 'MainStore<AppState>' to expected argument type 'MainStore<_>'`

And here's the relevant `AppDelegate.swift` code:
[code]

W

[2016-01-22 01:27] Ben-G commented on #5
@snown Have you tried specifying the generic type on both, the router and the store at the same time.
Here's an example of how I do it in the Counter Example App: https://github.com/ReSwift/CounterExample-Navigation-TimeTravel/blob/master/ReSwiftCounterExample/AppDelegate.swift#L14-L20

You could also download the app as a reference and compare your code to it.

Let me know if this helps!

[2016-01-22 02:31] snown commented on #5
Thank you @Ben-G for getting back to me so quickly. I have tried that, and have been comparing to the Counter example app. In fact it seems that either the version I'm looking at either didn't have the generic type specified, or I removed it at some point, and it still compiles fine.

Long story short my mainStore declaration now looks like this:
[code]
and I'm getting the same error message.

Als

[2016-01-22 02:38] Ben-G commented on #5
@snown Can you do me a quick favor and confirm that the Counter App is compiling correctly for you?

Also, have you used CocoaPods or Carthage to install dependencies? Just want to make sure I've published the latest library version on all platforms.

Thanks!

[2016-01-22 02:45] snown commented on #5
Just downloaded the most current version of the Counter App. It compiles and runs fine with or without `<AppState>` in the mainStore declaration.

I installed ReSwift via CocoaPods, you can see the entry with version number from `Pod install` here:
[code]

Let me know if I can do any more testing for you, or provide any more info.

[2016-01-22 04:07] Ben-G commented on #5
@snown Seeing the `AppReducer` implementation as well would be nice. There might be a type mismatch there. Probably would be easiest if you could push this entire repo to GitHub :smile:

The I could download and investigate.

I've just confirmed that the Counter Example also works with CocoaPods, so it actually must be an issue with your specific code.

[2016-01-22 06:00] snown commented on #5
Ok, I went ahead and pushed a sanitized version to GitHub here: https://github.com/snown/ReSwift-Router-Issue

I verified I'm still seeing the same error.

Thanks.

[2016-01-22 07:50] avdwerff opened #6 "How to use the Router with navigationcontrollers"
Somehow it confuses me how to setup a router with navigationcontrollers involved. For example, when the first viewcontroller is a navigationcontroller defined in some storyboard, the root viewcontroller for that navigation controller is actually a route segment deeper… so does that mean it would be better not to use the segue connection between the navigationcontroller and its root viewcontroller?

[2016-01-22 21:43] waveyus opened #7 "import ReSwiftRouter requires deployment target iOS 9.1"
when use import ReSwiftRouter, it gives error

Module file's minimum deployment target is ios9.1 v9.1:

Carthage/Build/iOS/ReSwiftRouter.framework/Modules/ReSwiftRouter.swiftmodule/i386.swiftmodule

Is there anyway to lower it to iOS 8 or make deployment target insensitive?

Thanks

[2016-01-22 22:15] Ben-G commented on #7
@waveyus It should definitely be lowered to 8.0. I will take care of this. This was just a result of a default setting that was never changed. Will change main library to 8.0 as well. Should be able to ship an update tonight.

[2016-01-23 00:07] dtartaglia opened #8 "dispatch_release not called on semaphore."
I noticed that dispatch_release is never called on the semaphore. According to Apple's docs:

I would put it in myself with a pull request, but I'm not entirely sure where it should go.

[2016-01-23 00:40] Ben-G commented on #8
Very nice catch! I think it should go directly after `dispatch_semaphore_wait`. Beyond that point the semaphore is no longer needed.

[2016-01-23 21:11] #7 closed

[2016-01-23 21:16] Ben-G commented on #8
Ah, I might have intuitively remembered this, or just been lucky, but GCD participates in ARC which means we don't need to manually release semaphores, queues, etc.:

But thanks for paying such close attention! :+1:

[2016-01-23 21:16] #8 closed

[2016-01-23 23:49] Ben-G commented on #6
@avdwerff Am I understanding you correctly, you are using a single NavigationController?

If so, the first `Routable` would be responsible for presenting that navigation controller. You could hook that up to a route that would be called `"root"`.

Then you would have another `Routable` that maintains the root view controller of the navigation controller. If your first VC in the navigation controll

[2016-01-24 00:04] snown commented on #5
Any thoughts on what might be causing this issue? Or are you even able to reproduce it?

[2016-01-24 00:07] Ben-G commented on #5
@snown You are next on my list; I'm currently pruning all the issues that accumulated over the last few days :smile:

[2016-01-24 00:08] snown commented on #5
Great, no worries. Let me know if I can help in any way.

[2016-01-24 00:37] Ben-G commented on #5
@snown Mistery solved, the underlying issue was that your `AppRoutable` could not be initialized, because it expects a `Routable` as argument, but received a `UIViewController`.

I just replaced the root routable with a dummy routable:

[code]

And everything worked fine. So just a case of a very misleading compiler error message!

[2016-01-24 06:00] snown commented on #5
Wow, weird indeed. Thanks for the help!

[2016-01-24 06:00] #5 closed

[2016-01-24 07:35] Ben-G commented on #5
@snown You might also want to update to 0.2.4 right away. Brings some breaking API changes ;)

[2016-01-24 08:23] avdwerff commented on #6
@Ben-G Yes thanks, that answered the question, thanks!

[2016-01-29 21:51] avdwerff commented on #6
I noticed that taking your advice that for example navigating to "root","home" (so a navigation controller with some rootviewcontroller) it first gives quickly a black screen (a navigationcontroller with no child) and it is even better noticed when modally presenting a navigationcontroller with some rootviewcontroller (so another 2 segments deeper). Would it not be better to treat the navcontrolle

[2016-01-29 22:35] Ben-G commented on #6
You might be bringing up a good point. I'm on vacation right now, so can't try it out.

The router would definitely support your approach, it's pretty unopponionated.

I would suggest you try your approach and let me know how it works out :)

[2016-01-29 22:36] avdwerff commented on #6
I will do that :).

[2016-02-11 19:32] avdwerff commented on #6
So a little further with using ReSwift + Router I face another design problem. What is a good strategy in a navigation stack scenario when having the following: Each view controller corresponds to a multiple choice question and when answered an Answer question action is dispatched which is handled by a reducer and so forwards a new state to the current viewcontroller on the nav stack. On which the

[2016-02-12 16:02] Ben-G commented on #6
@avdwerff I'm planning on adding better support for router arguments (is discussed in #3).

For your case it however sounds like your solution is good. One action to change the route, another action for pushing the `nextQuestion`. I would probably maintain a collection of questions in the state, along with a question index. That allows you to provide a `currentQuestion` as part of the state, that

[2016-02-12 17:10] avdwerff commented on #6
Hi yes, I do maintain an index and a currentQuestion, the only thing what made me think was that at one moment the currentQuestion does not reflect the current index... that is, the change route is after next question. It is not opensource but I could for sure send it over to you, it is in its early stage though. Shall I email/slack it?

[2016-02-13 09:13] avdwerff opened #12 "When debugging sometimes getting, fatal error: [SwiftFlowRouter]:"
When debugging and hitting breakpoints during active route changes, sometimes I get the following fatal error:

fatal error: [SwiftFlowRouter]: Router is stuck waiting for a completion handler to be called. Ensure that you have called the  completion handler in each Routable element.

[2016-02-13 19:43] Ben-G commented on #12
@avdwerff Uh, yes. This is indeed annoying during debugging. I think we should replace it with a warning  that people can use to create conditional breakpoints.

I added the `fatalError` in order to make folks aware that they forgot to call the `completionBlock` when switching to a new route. But I'll look into a better way of accomplishing this.

Thanks for making me aware!

[2016-02-21 08:37] kouky opened #13 "Router cannot subscribe to Store [ReSwift 0.2.5]"
Under ReSwift `0.2.5` the router cannot subscribe to the store during initialization,  [see line 25 in Router.swift](https://github.com/ReSwift/ReSwift-Router/blob/master/ReSwiftRouter/Router.swift#L23).

Cause of the issue was a change in the signature for the store subscribe method, see [ReSwift commit](https://github.com/ReSwift/ReSwift/commit/8230da6f87e2c347e15f71c19277f9e58ecfd18b).

[2016-02-22 07:06] Ben-G commented on #13
Sorry for the bad timing in releasing ReSwift core 0.2.5 without updating the Router. I've pushed the necessary changes to master. I still need to issue a new CocoaPods release - ran into an issue so I'll do that tomorrow.

Due to a new feature in ReSwift, the Router will now select the navigation state using the new state selector API (that can be used when subscribing to a store). The `HasNaviga

[2016-02-22 07:36] kouky commented on #13
Not a problem, the new changes look great.

[2016-02-22 07:36] #13 closed

[2016-02-25 12:32] jschmid opened #15 "SetRouteAction break separation of concerns"
Requiring every view controller to know the whole application hierarchy breaks the separation of concerns. I am going to try to find a simple example to show what I mean. Again, this is heavily related to #3 and #4.

Say you are in the state (where each letter is a controller):

And `C` wants to show something that is its child. It's easy for it to add a new controller to the list:

But now if `C`

[2016-02-25 12:41] jschmid commented on #15
Alright, I edited the issue text.

[2016-02-26 16:23] Ben-G commented on #15
@jschmid Yes this makes sense! I definitely want to tackle setting relative routes. I presume once this router is further along, `SetRouteAction` will be rarely used, as there will be actions to set relative paths.

For now, you can implement your own action, e.g. `ShowF`. You actually don't need to call the `SetRouteAction`.

One thing you could do for now, is not use the `NavigationReducer` and

[2016-03-06 21:41] Ben-G commented on #6
@avdwerff I think we talked about this on Slack, but yes, would love to see your project!

[2016-03-13 17:52] Ben-G opened #17 "Intercept Back Button Call in UINavigationController?"
For `UITabBarController` we can implement delegate methods to intercept view controller changes and allow the router to change view controllers instead of the controller handling the changes directly.

For the back button of `UINavigationController` there's no comparable solution. Right now I'm using a workaround that I'm not very happy with: https://github.com/ReSwift/GitHubBrowserExample/blob/ma

[2016-03-14 09:52] jschmid commented on #17
There is also [`didMoveToParentViewController:`](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIViewController_Class/index.html#//apple_ref/doc/uid/TP40006926-CH3-SW78), but this also means that every view controller must implement this method :/

[2016-03-16 13:18] yammada commented on #17
I've encountered this exact same issue in my own small scale experiments with unidirectional data flow architecture.  I realized that the problem is not only intercepting taps from the back button, but also the standard edge swipe gestures, so any sort of button trickery doesn't seem to work.

One possibility that's similar to your solution, but at least doesn't require participation from every ch

[2016-03-17 04:08] #4 closed

[2016-03-17 04:08] #12 closed

[2016-03-17 04:12] Ben-G commented on #3
This should be fixed via #18. Please reopen if anything about the new feature is unclear!

[2016-03-17 04:12] #3 closed

[2016-03-17 04:13] Ben-G commented on #6
Do you think the ability to have custom data associated with routes from #18 will help you with this?

[2016-03-17 04:13] Ben-G commented on #15
@jschmid This definitely should be doable with the current router setup. Have you found a satisfying solution? :smiley:

[2016-03-22 03:16] rpowelll opened #20 "Fails to build with Carthage"
It seems ReSwift Router fails to build properly through Carthage given an empty directory with the following `Cartfile`:

[code]

Here's the build output (ignore the Swift 2.2 warnings):

[code]

[2016-03-22 03:49] Ben-G commented on #20
@rpowelll Thanks for reporting this! I can reproduce this issue locally and will look into it as soon as possible!

[2016-03-22 04:54] Ben-G commented on #20
With what I've investigated so far it seems that ReSwift-Router was relying on having the carthage dependencies checked into git. I've changed that with the latest release.

This seems to break ReSwiftRouter with Carthage, because Carthage does not check out the entire subproject, instead it only provides the built binary in the build folder.

This means I should reference the built framework in R

[2016-03-23 22:12] impopappfactory commented on #17
I run into the same problem, and trying following approach:
For every view controller I push into navigation stack, I set associated route:
[code]

Then, in the root NavigationController's delegate I check that the route stored in a view controller being presented matches the expected route and correct the latter if necessary:

[code]
This is somewhat dirty:

- UIViewController has to be extended

[2016-03-24 04:35] #20 closed

[2016-03-24 05:07] rpowelll commented on #20
Thanks for fixing this! :tada:

[2016-04-03 13:18] avdwerff opened #24 "Help with SetRouteSpecificData"
I tried to play around with the new feature: SetRouteSpecificData , but somehow I can't get it working.
Basically when replacing a working SetRouteAction with SetRouteSpecificData, the route change is not performed...

so for example:

store.dispatch(SetRouteAction(["root", "login", "dialog"]))

is working just fine, but:

store.dispatch(SetRouteSpecificData(route: ["root", "login", "dialog"], dat

[2016-04-08 03:48] Ben-G commented on #24
@avdwerff Setting the route specific data does by itself not trigger a route change. It only is used to store information for a route; you still need to call `SetRouteAction` manually afterwards. I'm planning on adding some convenience functions to make that a one step operation down the road, but don't have them in place yet.

[2016-04-08 05:20] avdwerff commented on #24
Ok will try that.

[2016-05-02 19:35] esttorhe opened #25 "[Request | Suggestion] Protocol extension hides compiler errors"
I was trying to implement the router on an app and it kept crashing with the error that I wasn't implementing the `Routable` methods which I had or I thought I had.

The signature was wrong on my implementation and thanks to this extension https://github.com/ReSwift/ReSwift-Router/blob/master/ReSwiftRouter/Routable.swift#L31-L55

The compiler couldn't tell me that was the case because the extensio

[2016-05-02 21:00] Ben-G commented on #25
@esttorhe I'm sorry you ran into this. I planned on removing the default implementations for a while but didn't get around to it.

The idea is that some of the methods are "optional". You might have a route that can push a segment, but not replace an existing segment. So not all routables need to implement all methods.

The correct way would be to provide 3 different protocols and I think that's w

[2016-05-02 21:02] esttorhe commented on #25
No need to apologize Ben; I understand this framework is still taking shape.

I just wanted to point this out in case it was a bug/unimplemented piece of code (which in a way it seems it is).

I'll leave this ticket open to track progress of this them.

I thought some could be optional though 😄

🙇

[2016-05-12 15:06] Ben-G opened #26 "Setting a Route without Triggering the Router"
In some cases, when UIKit performs a transition that we cannot force through the router, we need to notify the router about the change (also discussed in #17).

In such cases we might want to update the route, without triggering the actual routing. If the transition already happened directly from within UIKit we don't want to trigger another action in the router.

We'll need to add this to the API

[2016-05-19 16:13] mjarvis opened #27 "Routing Multiple Displayed Paths"
This is more of a prompt to discussion, and possibly something to document for users, as this is likely a very common use case.

How would one propose this router could work if the application has multiple displayed paths? (IE a split-screen application, master/detail, sidebar controller with some internal navigation?)

I see two possibilities (I'm sure there are many more) -- One which may work w

[2016-06-20 22:32] Ben-G commented on #17
Stumbled across `isMovingFromParentViewController` method on `UIViewController` today; based on the documentation it might be another viable candidate.

[2016-06-22 00:36] mathieutozer opened #29 "Initializing routes not working"
I have an issue where the extension with the fatal error is being called instead of my custom procol conforming classes. I probably haven't set everything up right... here's the relevant code - also not that this is a macOS app but that shouldn't matter...
[code]

Am I missing something? The tests don't appear to be doing anything else, and I've scoured the documentation!

[2016-06-24 05:10] Ben-G commented on #29
Hey @mathieutozer, sorry that you're facing this issue! Are you using 0.2.6 or 0.2.7 of ReSwift-Router?
If so, the method signatures have changed. The routing methods now carry an `animated` flag that indicates whether the `Routable` should route animated or un-animated. Here's an example:

[code]

By matching this signature you should be able to solve your issue. I really need to fix this as sugg

[2016-06-24 05:21] Ben-G commented on #27
@mjarvis sorry for the late response on this. I've been traveling and missed following up on opened issue s afterwards.

The idea of multiple routers is interesting and definitely something that should be supported. We've moved away from the `HasNavigationState` protocol in part to enable having multiple routers.

The solution you suggested, with having multiple routing entries in the app state sh

[2016-06-24 16:19] mjarvis commented on #27
@Ben-G Not too late -- thanks for the response 👍

[2016-07-16 21:34] Ben-G commented on #17
Another relevant read that covers the same issue using the coordinator pattern: http://irace.me/navigation-coordinators

[2016-07-23 23:38] Ben-G commented on #17
Another potential approach: implementing the `UINavigationBarDelegate` which has a method that can prevent popping view controllers. Details here: http://stackoverflow.com/a/21462109/1046430

[2016-08-07 03:43] kevinfez opened #35 "Question: Interactive Transition?"
Does this router support interactive transitions?
Successfully presenting the next view controller always works of course, but is there a way to handle cancelling the transition so the router won't think it's made it to the next routable when it really has not?

[2016-09-01 01:16] Ben-G commented on #35
@kevinfez Currently there's no support for cancellation. Though in theory it shouldn't be too hard to implement. We already have a `completionHandler` that is passed in order to asynchronously update the router once an animated transition is completed. What is missing is an equivalent `cancellation` handler.

I can't make any promises on whether this will be implemented or not, but I'll keep this

[2016-09-01 01:44] #27 closed

[2016-09-01 01:46] #24 closed

[2016-09-01 01:46] Ben-G commented on #15
Since this issue has gone stale, I'm going to close it for now! Let me know if something new comes up and I can re-open!

[2016-09-01 01:46] #15 closed

[2016-09-01 01:49] Ben-G commented on #6
Seems like this issue went stale. In case anything new comes up we can reopen.

[2016-09-01 01:49] #6 closed

[2016-09-21 13:44] kuchmiyalex opened #36 "Swift 3 support"
Do you have any plans on adding Swift 3 support?

[2016-09-21 15:59] #36 closed

[2016-09-21 16:35] Ben-G commented on #36
@kuchmiyalex Thanks for reporting this issue. I just published version `0.4.0` with Swift 3 support.

[2016-09-28 08:08] madhu-b opened #38 "Fail to support swift3 or xcode8"
Hi

I updated to xcode8 and Swift3 . We use
	pod 'ReSwift'
	pod 'ReSwiftRouter'
When we want to implement StoreSubscriber in our ViewController. It started giving weird errors.

i have uploaded some errors i'm getting. Please give me syntax for subscribing to store and unsubscribing in swift3

My Code:
 store.subscribe(self) { state in
            (state.momentState, state.feedState)
        }

 s

[2016-09-28 14:56] Ben-G commented on #38
@madhu-b Would you mind checking the Swift 3 branch of the GitHub Browser Example?
https://github.com/ReSwift/GitHubBrowserExample/tree/swift-3

It uses ReSwift and ReSwiftRouter's swift 3 version.

Explicitly defining the `StoreSubscriberState` should not be necessary if you have implemented the `newState` method in the ViewController.

Hope this hints help!

[2016-10-07 06:00] smebberson commented on #25
I actually just hit this too, and this has given me a clue about where to go and fix it.

[2016-10-19 11:57] jcampbell05 opened #39 "Cannot implement Routable"
It seems that the protocol extensions for Xcode to swallow the your class doesn't conform to the Routable protocol.

[2016-10-24 11:57] Ben-G commented on #38
Looks like the suggestion fixed the issue. Closing.

[2016-10-24 11:57] #38 closed

[2016-10-24 11:59] Ben-G commented on #39
@jcampbell05 I believe the issue you are referring to is tracked in #25. I didn't get around to implement it, but definitely want to. I'll close this issue. Let me know if you actually meant something different and I can reopen it.

Thanks!

[2016-10-24 11:59] #39 closed

[2016-10-25 09:52] madhu-b commented on #38
Thanks

[2016-10-25 15:12] avdwerff opened #43 "Release ReSwift Router"
For a new project I decided to use ReSwift, so I was wondering if the ReSwiftRouter lib has any changes of importance on the roadmap before it will get a release tag in Git (for Swift 3 support)..?
And if not recommended, what is a good alternative navigation architecture with ReSwift?

[2016-10-27 10:15] frranck commented on #25
Got the same issue,  because my function was declared as:

[code]

instead if

[code]

Would be great to update the examples...

[2016-10-30 20:39] Ben-G commented on #43
Hey @avdwerff. Release 0.4.0 has Swift 3 support. Should be good to use with latest ReSwift release. No immediate changes planned, though there's certainly a backlog of smaller issues I'd like to fix.

Hope that answers your question?

[2016-10-30 23:19] avdwerff commented on #43
Yes, thanks! ...is there any public place for backlog items?

[2016-10-31 14:32] Ben-G commented on #43
@avdwerff Only the open issues on this repo. They capture anything that is planned to be worked on at some time.

I'll close for now; let me know if you have more questions!

[2016-10-31 14:33] #43 closed

[2016-11-16 06:56] rpassis opened #45 "Routing actions for a (deep) navigation stack"
Not sure if this is covered elsewhere but I couldn't find it anywhere in the documentation.

Supposed I have a navigation stack of:

`UINavController -> VC1 -> VC2 -> VC3`

From my `VC1` I can dispatch `SetRouteAction(["VC1", "VC2"]...` to push VC2 into the stack and make it current.

What is the correct way to go about pushing VC3? I can dispatch `SetRouteAction(["VC1", "VC2", "VC3"]...)` but thi

[2016-11-23 01:54] nikolasburk opened #47 "Building the project with carthage update fails"
When I am cloning the project and want to build the dependencies using `carthage update`, the call fails with the following info:

[code]

I also opened an [issue in the carthage repo](https://github.com/Carthage/Carthage/issues/1610), as I'm not sure if that's an issue with carthage or this repository. Does anyone else have the same problem when running `carthage update`?

[2016-11-23 03:35] ikesyo commented on #47
See https://github.com/Carthage/Carthage/issues/1610#issuecomment-262428211.

[2016-11-23 03:52] ikesyo commented on #47
@nikolasburk I think you should also check #44.

[2016-11-23 09:50] egv commented on #45
you can obviously make your route relative, something like this in `VC2`
[code]

this will add `VC3` on top of the `VC2` regardless of `VC2` position in route stack

[2016-11-23 16:42] juegas commented on #47
@nikolasburk 👍  https://github.com/ReSwift/ReSwift-Router/pull/44 please be sure to comment on that PR to confirm it worked, so we can get it merged!

[2016-11-23 18:00] nikolasburk commented on #47
thanks for your responses! as pointed out [here](https://github.com/Carthage/Carthage/issues/1610#issuecomment-262428211), the issue was indeed the fact that the `Cartfile.private` pointed to `github "Quick/Quick" "swift-3.0"` rather than `github "Quick/Quick"`. the PR should be ok to be merged on that side!

[2016-11-23 18:02] #47 closed

[2016-12-06 20:45] avdwerff opened #49 "How to pop a modal navigation stack with a new Route"
Imagine a navigation controller which gets presented and contains multiple viewcontrollers, which are pushed because of a Route constructed out of Route identifiers with respect to some user navigation flow, e.g. the route might be; [root, nav, vcA, vcB, vcC].
Popping one viewcontroller is achieved by dispatching a  SetRouteAction, with for example a new route, e.g.  [root, nav, vcA, vcB].
This wo

[2016-12-08 11:47] dodikk commented on #17
So what is the client code workaround or approach for dealing with `UINavigationController` ?
How about adding some hints to the `README.md` file?

I've faced the issue when the `NavigationState.route` does not get updated when the user taps `back` button of `UINavigationController`. So my navigation actions end up dispatching to a wrong `Routable` sub-class.

[code]

Here is some supplementary co

[2016-12-08 14:41] dodikk commented on #17
Sorry for spamming. I've found the "invoke route manually in `viewWillDisappear`" [workaround](https://github.com/ReSwift/GitHubBrowserExample/blob/fe99330a323400cfddc758a3c860de27912ece43/SwiftFlowGitHubBrowser/ViewControllers/BookmarkViewController.swift#L41) in a github client example.

Still, isn't this approach worth mentioning in a readme?
At least until a better solution is implemented.

[2016-12-13 18:50] mjarvis opened #50 "Running tests / Contributing readme"
I'm having trouble getting the project to compile to run tests.
I've tried doing `carthage bootstrap`, but that fails with some watchOS target issues.
I've tried doing `carthage bootstrap --platform ios`, which seems to delete the ReSwift.xcodeproj folder which it seems like the project is depending on.
Restoring that folder still doesn't work, as I'm unable to get ReSwift itself to compile its fr

[2016-12-19 02:44] rpassis commented on #45
Thanks! Seems obvious in hindsight :)

[2016-12-21 03:47] #45 closed

[2016-12-22 09:25] rpassis commented on #17
@Ben-G thanks for the reference article on https://github.com/ReSwift/ReSwift-Router/issues/17#issuecomment-233152205

I've been able to implemented something similar and it seems to be working well.

For anyone trying to find a more elegant solution to this, here's a quick overview of what I've done. Feel free to ping me if you need any other details.

1) Create a new protocol `RoutableIdentifiab

[2016-12-30 05:40] mattdelves opened #55 "Multiple routes with same identifier question"
I'm in the process of setting up ReSwiftRouter in an app and am running into a problem with some of the routes when popping them off and making sure that the completion handler is appropriately called.

So I start on the route` [Foo, Bar]` and from there I want to go to the route `[Foo, Bar, Bar]`. The push to the second Bar view controller is fine though I'm running into problems when I pop off t

[2016-12-31 09:54] Ben-G commented on #55
@mattdelves Short Q to narrow this down: how did you verify that the route is updated from `[Foo, Bar, Bar]` to `[Foo, Bar]`? Are you calling `setRoute` directly?

[2016-12-31 12:10] mattdelves commented on #55
So I see this by inserting some breakpoints and then inspecting the navigationState. As for how the route is being set, I'm using the `SetRouteAction` to accomplish that.

[2017-01-02 23:17] mattdelves commented on #55
Okay, so this was completely a PEBKAC on my behalf. In the implementation of Routable we had a guard statement that was leaving early and tripping us up. Going to close the issue as everything now works as expected.

[2017-01-02 23:17] #55 closed

[2017-01-05 06:13] adriaan commented on #49
Facing the same issue. Will post here if I find a solution.

[2017-01-06 18:13] leungandrew opened #56 "SetRouteAction 'route' is inaccessible due to 'internal' protection level in tests"
I'm trying to write some tests where I check that that my ActionCreator has successfully created and dispatched a SetRouteAction on my dispatcher.

I'd like to be able to read the route that was passed in to the SetRouteAction, however I'm unable to read it.  It would be nice if the SetRouteAction had a public getter on the route (and perhaps even the animated member).

[2017-02-21 03:49] Ben-G commented on #17
@rpassis Sorry for the super late response on this. I've been on a long vacation and pretty swamped ever since I'm back. But your solution is actually really good compared to everything we have so far (actually we've implemented something similar for the router we're using at PlanGrid).

Once I've freed up a little bit of time it would nice to document this solution or maybe even incorporate it in

[2017-03-08 11:57] dagio commented on #17
@rpassis can you conform that with your solution, if you do **not** dispatch `SetRouteAction` the view controller will be poped anyway ? I mean in that case it seems the state is lagging behind the UI.

[2017-03-08 20:38] rpassis commented on #17
@dagio the view controller will be popped irrespective of setting the route. The idea is that we are ensuring the route state is in sync with the UI when triggering actions that are hard to capture (ie. back button press or swipe right).

[2017-03-09 09:39] ranhsd opened #58 "Animate transition between view controllers"
Hi,
I am currently trying to refctor my app from MVVM to ReSwift. One of the things that i adopt is the ReSwiftRouter. The router allows me to navigate from one screen to another (either by push view controller into a navigation controller or by present it modally) .

I also consider to use [Hero](https://github.com/lkzhao/Hero) for animate transition between view controllers.
Hero created some ex

[2017-03-10 04:26] #50 closed

[2017-03-14 08:10] ranhsd opened #60 "Use with UIPageViewController"
Hi,
I am trying to think what is the best way to use the Router with UIPageViewController. What i did so far is create a routable which receive the some hostViewController instance and then add UIPageViewController into it. Now in order to page from one page to another the host controller must confirm the UIPageController datasource. the page controller datasource must return the number of pages t

[2017-03-19 17:12] nikans opened #61 "Why does popRouteSegment(_,_,_) is called on presentING routable, not presentED?"
I've presented modally `vc2` on `vc1` from `vc1` like this: `SetRouteAction(["VC1id", "VC2id"])`. On `vc1 routable` `pushRouteSegment(_,_,_)` is being called correctly.
Then,  when I call `SetRouteAction(["VC1id"])` the `popRouteSegment(_,_,_)` is being called on `vc1 routable`, keeping me from calling `vc2.dismiss(_,_)` because I don't have link to `vc2` there.
What do I do incorrectly, or is it

[2017-03-19 17:37] nikans commented on #61
I put together a PR and would like to discuss it further :)

[2017-03-20 21:40] nikans opened #63 "Can I pass any data with RouteAction?"
With ReSwift `StandardAction` I can pass some arbitrary payload. Looks like I can't do it with the help of `SetRouteAction`, because it only takes an array of `RouteElementIdentifier`s which are, unfortunately, strings.
I think there's an opportunity for major overhaul, because routes for parametrized controllers are effectually impossible. Also string route identifiers stink.

[2017-04-12 00:52] JamesPerlman commented on #63
I tried creating an extension called RoutableEnumerable which lets you SetRouteAction([SomeEnum.someCase]).  Thanks to Swift enums we can have associated values.  The problem is with stacking enums of different types, it throws a compiler error that says the SetRouteAction cannot be initialized with an array of type [Any].

My peer pointed out that we could simply store all routable states in a si

[2017-04-12 03:53] iksnae opened #64 "subscribe signature doesn't match"
in Router.swift the store's invoked with self and a selector argument.. this isn't declared in Store. is this a specific branch or something? thank you.
![screen shot 2017-04-11 at 8 49 15 pm](https://cloud.githubusercontent.com/assets/799271/24940527/79816342-1ef8-11e7-9dad-d606479c1e52.png)

[2017-04-27 04:15] Ben-G commented on #64
Sorry @iksnae, I seem to have missed this issue while traveling! This should be addressed with the changes in #66.

[2017-04-27 04:56] Ben-G commented on #64
Hm I just tried to reproduce this, @iksnae but wasn't able to (by installing Router via carthage for development as discussed in README). Could you provide some more details on how you set up this project?

[2017-05-02 01:40] rpassis commented on #64
Hey @Ben-G you can reproduce this by adding the router to a project that already depends on ReSwift4.x i.e.

[code]

[2017-05-24 20:20] leofontes opened #69 "Question: Simulate detail segue animation"
Hey everybody,

I'm working on an app in which we have many situations of master-detail flow, if we were using Storyboard segues we would use the Detail Segue.

    let detail: UIViewController = UIStoryboard(name: "Storyboard", bundle: nil).instantiateViewController(withIdentifier: Storyboard.identifier)

    viewController.present(detail, animated: true, completion: completionHandler)

    retur

[2017-05-31 16:15] dagio commented on #17
@rpassis did you manage to keep the native swipe gesture of the navigation view controller in order to pop the current view controller ?
When implementing `func navigationController(_ navigationController: UINavigationController, animationControllerFor operation: UINavigationControllerOperation, from fromVC: UIViewController, to toVC: UIViewController) -> UIViewControllerAnimatedTransitioning?` in

[2017-06-01 14:05] dagio opened #70 "Routing with UITabBarController scenario"
UITabBarController allow to have multiple navigation stacks in each tabs. For example :

![tabbar](https://cloud.githubusercontent.com/assets/74581/26683425/0b7d45d2-46e4-11e7-8ea9-12bef7e75946.png)

On the previous image we can see tat we have 4 different stacks at the same time :

- `A / Y /`
- `B / X /`
- `C /`
- `D / `

The `NavigationState` design is :

[code]

I'm struggling to find a way to

[2017-06-11 08:33] DivineDominion commented on #70
Interesting. Sounds like you could get past this by having a tab navigation history state where for each root node (A or B, not X or Y) the last active route is stored. Extending NavigationState would be nice, but structs don't provide inheritance, so maybe moving this into a PR once the concept works would be best. It's not a tree state, but it's at least aware of the user's past.

[2017-06-11 08:37] DivineDominion commented on #63
Parameters to support nested detail views, for example?

    /user/Foo/photos/12345/user/Bar
    Foo profile
              Her pirctures with ID 12345
                           Bar user profile (linked from picture)

That should be doable, but passing the 2 user type references and the photo item with the state, not so much. Is it the latter you want to achieve?

[2017-06-17 19:40] Bartzy opened #71 "Point of changeRouteSegment method in Routable?"
Hi,

When should you use `func changeRouteSegment(from: RouteElementIdentifier, to: RouteElementIdentifier, completionHandler: RoutingCompletionHandler) -> Routable`, and how do you implement it at all?

Thanks!

[2017-06-18 11:57] dagio commented on #70
By "tab navigation history state", you mean a `NavigationState` for each tab (UIViewController) ?

That would still require some change on the `Router` to avoid him to ask `A` to pop `Y` ?

[2017-06-23 02:39] zhongchao-han opened #72 "Why no use middleware to implement router?"

[2017-06-23 03:16] #72 closed

[2017-06-28 04:09] ambientlight opened #73 "New Release for ReSwift 4.0 and Deployment Target set to 8.0"
`ReSwiftRouter` is still maintained right?

Would be nice to perform the following minor update:
- [ ] new release(0.6.0) so that carthage default uses `ReSwiftRouter` updated for `ReSwift 4.0`
- [ ] change the deployment target or `ReSwiftRouter(master)` to `8.0`

[2017-06-29 14:06] ledikari opened #75 "can we have a simple sample implementaion of ReSwift Router"
this please.

[2017-06-29 16:14] Ben-G commented on #73
Hi @ambientlight! Yes this component is still maintained. I'm personally not using it on a project right now, but I believe some other folks are, probably they are not integrating via Carthage.

Will create a PR for deployment target and tag a new release.

[2017-06-29 16:39] Ben-G commented on #75
@ledikari Would you mind providing more details about this issue?

[2017-06-30 00:23] ambientlight commented on #73
@Ben-G
Hi @Ben-G!
Thanks, good to hear, can I ask you why not?)

I personally find this as an amazing tool to have no dependencies between viewControllers.

[2017-07-02 03:04] Ben-G commented on #75
Will close for now! Feel free to re-open with more details!

[2017-07-02 03:04] #75 closed

[2017-07-02 03:06] Ben-G commented on #73
Just pushed the 0.6.0 tag and also released via CocoaPods.

It happens that I'm currently not working actively on any project that uses ReSwift. At PlanGrid we're using a Flux implementation (since it was easier to add to an existing code base) and currently don't have a full-fledged router (again, harder because of legacy code).

I'm glad you like the library!

[2017-07-02 03:06] #73 closed

[2017-07-03 06:26] ambientlight commented on #73
@Ben-G that's sounds sad to me, since I am absolutely in love with how you guys implemented Redux in Swift.

[2017-07-03 08:32] ledikari commented on #75
A simple working example using Reswift-router.

i mean Reswift has a a sample app you can run to see how it works,

[2017-07-24 15:59] Ben-G commented on #61
Hi @nikans, this is indeed expected behavior. The previous `Routable` on the stack should always be responsible for presenting/dismissing the next `Routable`. I'm assuming `vc1` is presenting `vc2`? So you should be able to dismiss `vc2` from `vc1`?

[2017-07-24 15:59] #61 closed

[2017-07-24 16:01] Ben-G commented on #71
@Bartzy You would use this method if you need to replace one subroute with another (instead of pushing or popping a route. On iOS this would most likely happen when working with a `UITabBarController` which can switch the presented vc without pushing/popping.

Hope this answers your question! Feel free to re-open if not.

[2017-07-24 16:01] #71 closed

[2017-07-24 16:04] Bartzy commented on #71
Thanks for the answer.

How do you implement it though?

[2017-07-24 16:06] Ben-G commented on #71
Sorry I missed that part! You can find an example here:
https://github.com/ReSwift/CounterExample-Navigation-TimeTravel/blob/master/ReSwiftCounterExample/AppDelegate.swift#L116-L133

[2017-07-24 16:07] Bartzy commented on #71
Thanks!

[2017-08-08 15:02] wess opened #78 "StandardActionConvertible"
`Use of undeclared type 'StandardActionConvertible'` in NavigationAction.swift

- Xcode: 8.3.3
- Swift 3.1
- iOS 10

[2017-08-17 21:11] jondwillis commented on #70
I have an extremely complicated solution for this that is still causing a lot of crashes in production due to invalid route states. Basically this is a difficult problem to deal with due to the myriad ways that UIKit navigation can occur that you pretty much have to mirror. Or I guess you can limit the ways that you interact with UIKit navigation.

My solution consists of a `RouterNavigationContro

[2017-08-21 07:03] hlineholm-flir commented on #17
Have a look at [RoutableUIKit](https://github.com/hlineholm/RoutableUIKit), it contains a navigation controller that supports routing. Please contribute with more routable UIKit components!

[2017-08-21 07:07] hlineholm-flir commented on #70
@dagio @jondwillis is it possible to make a UITabBarController that supports routing agnostic of the ReSwift-Router? I've started a repo for it, [RoutableUIKit](https://github.com/hlineholm/RoutableUIKit), where I thought we might gather UIKit components that supports routing while being agnostic of which routing logic that is being used.

[2017-08-21 07:09] hlineholm-flir commented on #60
@ranhsd have a look at [RoutableUIKit](https://github.com/hlineholm/RoutableUIKit)! Does some of your work with the UIPageViewController fit there?

[2017-08-21 10:11] nikans commented on #61
Well, you mostly dismiss vc from that very vc, not from the previous one in the stack. Can't see how is it even manageable.

[2017-08-23 05:19] hlineholm-flir commented on #56
Why not set the properties of the SetRouteAction to `private(set)`?

[2017-08-29 19:27] richy486 commented on #17
I'm trying using to counter to check if the route should be updated. Checking lastViewControllersCount against the current view controllers count minus 1 to see if we are popping and checking that the lastRouteCount is the same as the current route count to see if the Routers have already updated the route.
[code]

This doesn't store a `RouteElementIdentifier` on the View Controllers which I don't

[2017-08-30 10:33] hlineholm-flir commented on #17
@richy486 is this working when swiping? `navigationController(navigationController:willShow viewController:animated:)` doesn't mean the view was popped (or pushed) if being called as a result of a swipe.

[2017-08-31 20:51] richy486 commented on #17
@hlineholm-flir you are right, when you cancel a edge swipe it still pops off the router.

[2017-09-04 23:51] richy486 commented on #17
Updated our `NavigationController` subclass to handle edge swiping with a custom back button and capturing edge swipes via the `UIViewControllerTransitionCoordinator`

[code]

[2017-09-05 05:04] hlineholm-flir commented on #17
@richy486 I've done something similar in [RoutableUIKit](https://github.com/hlineholm/RoutableUIKit/blob/master/RoutableUIKit/RoutableUIKit/RoutableNavigationController.swift) but instead of using

`navigationController(navigationController:willShow viewController:animated:)`

I use

`navigationController(navigationController:didShow viewController:animated:)`

as it doesn't fire if the swipe is c

[2017-09-16 01:14] Ben-G commented on #17
I should have thought about this earlier, but it's probably best to do something similar to what React Native does to intercept back button calls. Unfortunately the solution is rather involved: https://github.com/facebook/react-native/blob/1e8f3b11027fe0a7514b4fc97d0798d3c64bc895/React/Views/RCTNavigator.m#L67-L148

But would be great if someone would port this at some point!

[2017-09-28 17:31] kdawgwilk commented on #70
I also have the same need to support TabBarController tabs with independent navigation stacks

[2017-09-29 05:14] Ben-G commented on #56
Sorry, there's been a lot going on across the various repos and this issue dropped under my radar. @leungandrew would it be possible to test by inspecting the app state? Similar to tests in ReSwift itself? https://github.com/ReSwift/ReSwift/blob/4.0.0/ReSwiftTests/StoreDispatchTests.swift

Let me know if that doesn't work for you and I'm happy to reopen.

[2017-09-29 05:14] #56 closed

[2017-09-30 08:18] MojtabaHs opened #79 "Router initialization v0.6.0"
I'm struggling with router initialization for days and I think the documentation is out dated. Can anyone help me and explain how the following code should be and what are those protocols in the closure ?

[code]

[2017-10-05 09:06] hlineholm commented on #78
It exists in [ReSwift-Recorder/ReSwiftRecorder/StandardAction.swift](https://github.com/ReSwift/ReSwift-Recorder/blob/c558b9423df15754ba69a6c297510e4f39541ebd/ReSwiftRecorder/StandardAction.swift)

[2017-10-18 07:54] MojtabaHs commented on #79
#80 fixes out dated document.

[2017-10-18 07:54] #79 closed

[2017-10-19 00:35] topLayoutGuide opened #85 "`assertionFailure()` as opposed to `fatalError()`"
Hello,

In my own fork of this project, I've gone ahead to remove all references to `fatalError()` in my use of the Router. This warranted a change to the router itself, to prevent any operations from occurring if I ever `return nil` from the `pushRouteSegment` or `changeRouteSegment` functions. I have manually popped the route from the stack if we ever hit `newState()` with an invalid route.

Is

[2017-10-23 09:29] MojtabaHs commented on #17
@marcocpt nice and simple solution. but what about 'ReSwiftRouterStuck' ?

[2017-10-23 09:32] MojtabaHs commented on #12
@Ben-G Maybe completionBlock should be optional at all like most of other completion handlers. 🤔

[2017-10-26 06:36] hlineholm commented on #17
@Ben-G  I've released 1.2.0 of [RoutableUIKit](https://github.com/hlineholm/RoutableUIKit) and it is also quite involved but I cannot see how we would solve this in a simpler way. And I don't think this is an issue that should be solved here as it's domain isn't specific to ReSwift-Router.

@richy486 @marcocpt do you handle popping of the navigation controller from any of your routables? If so how

[2017-10-31 07:18] MojtabaHs commented on #17
@hlineholm I solved completion issue with this little extension:

[code]

@marcocpt I think calling "setRouterAction" when UI is already presented "newRoute" is not well enough. Maybe using "shouldPop" method instead of "didPop" is better solution when your return false and dispatch "setRouter" yourself. But in this case, navigation controller behave oddly. For example it shows back button in root

[2017-10-31 21:53] jondwillis commented on #85
The general problem with replacing `fatalError()` with `assertionFailure()` is that you are replacing a crash, which comes with accompanying debug information to help you fix the crash, with undefined behavior. That undefined behavior could be just as bad or worse than a crash, and you'll have no idea when it is happening to your users.

[2017-11-08 04:52] aizexin opened #86 "Why my code does not run the protocol method"
Why my code does not run the protocol method

[code]

[2017-11-19 08:39] DivineDominion commented on #85
I don't use the Router myself, so I wonder what kinds of situations make you run into the `fatalError` conditions in the live app. At best, this should not happen at all. @jondwillis point is valid, so maybe it'd be better to change the approach of the Router in general _if_ it is error-prone than just removing the crashes.

[2017-11-19 11:48] topLayoutGuide commented on #85
Well it concerned Routables which didn’t always implement all screens. And the function expected to return a routable and so we’d hit our fatalError()

The way I ended up doing it was blocking any operation if canPush/canPop returned false etc. seems to work well.

[2017-11-23 07:38] marbetschar opened #87 "Carthage v0.6.0 does not compile"
Having Carthage throwing the following error:

[code]

[2017-12-06 15:46] jasorod opened #88 "Philosphy behind choosing whether to pop or change a segment"
Let's say I have two different routes that are different lengths that descend from the same parent node:

[ "foo", "bar1", "baz" ]
[ "foo", "bar2" ]

And I have four different Routable objects:

1. foo
2. bar1
3. bar2
4. baz

where "foo" is the parent Routable of "bar1" and "bar2", and "baz" is a child routable of "bar1".

When I make the transition between the two routes, it would make sense to m

[2018-02-19 22:30] nitindhar7 commented on #58
I was able to leverage Hero for this by presenting my viewcontrollers using modal presentation. Notice that I'm setting hero transition animations on both push and pop, which allows to me to have symmetry. For some reason, using Hero's `navigationAnimationType` wasn't working, which is why I chose modal presentation, otherwise I would've stuck to show.

[code]

[2018-03-21 16:58] AlexanderBollbach commented on #63
@JamesPerlman I find the idea of setting state (global) and then pushing a route and then reading from the state in the next 'component' (for lack of a better term on iOS) plausible in the context of the 'keep everything in the store' philosophy.  But one thing I've noticed on web is that people definitely use react 'props' to pass 'transient' data they get from a routing action.  Usually a compon

[2018-03-31 07:36] xiaoxinghu opened #91 "SwiftPM Support?"
I use SwiftPM to manage my dependencies. Is there a plan to support SwiftPM?

[2018-04-10 21:58] trentguillory opened #92 "Question: How do you implement deeplinks with ReSwift-Router?"
I've read through the ReadMe and a lot of the issues here. From what I've seen, some have experienced difficulties using this Router for specific issues like a Tab Bar Controller or when trying to pass data along with a Route change.

I'm at the beginning of a project and trying to look ahead. Would the implementation of deeplinks require much modification of the codebase? Is there an approach you

[2018-04-18 05:40] AlexanderBollbach opened #93 "handle route globally"
My understanding of `appState.navigationState.route` is that each element in the array represents a `Routable`.  so if my current `.route` looks like `["home", "favorites"]` then the e.g. `Routable` `FavoriteVC` is what will have its `*RouteSegment(_ )` methods called.   But what if my use case is a something like a loading screen.  So I  tap something in `FavoritesVC` that should throw up a `Load

[2018-04-27 16:40] trentguillory commented on #75
I too would like this. The examples I've found on the `ReSwift` readme are very small and simple. It would be wonderful to have an example app that shows how to appropriately use `ReSwift-Router` in conjunction with `UINavigationController`, `UITabBarController`, and similar use-cases that involve pushing, popping, and changing route segments.

I was planning to make one myself, but I am now runni

[2018-05-17 03:25] huFly opened #94 "Is it have a demo project ?"
I'm a beginner of Reswift. The ReSwift-Router README is equivocal for me, In particular, the `RootRoutable` . I don't know how to use ReSwift-Router in my project .  Could you show me a demo for usage? Thanks!

[2018-06-02 03:01] AlexanderBollbach commented on #93
i thought of another way to do this.  but it would involve changing the library.  looking at the source, (specifically `Router<T>.routingActionsForTransitionFrom`) if my routing state goes from `["foo"]` to `["foo", "bar"]`,  than the `Routable` pushed for `"foo"` is charged with routing to `"bar"`.  Is it possible to extend ReSwiftRouter such that the `"bar"` route could be handled only by the `R

[2018-08-07 16:52] trentguillory opened #97 "ReSwiftRouterStuck, even when calling completionHandler()"
I've called the usual `completionHandler()` function after implementing a route just like any other; however, every time I try to navigate to this route, it's still triggering `ReSwiftRouterStuck`. Are there any known situations where `completionHandler` is invalid for some reason or other cases that cause a "stuck" state?

[2018-10-05 13:50] DivineDominion commented on #87
Should be outdated by now.

[2018-10-05 13:50] #87 closed

[2018-10-05 14:01] DivineDominion opened #101 "Optimize Travis CI build"
It is very wasteful that the 3 different build targets each result in `carthage bootstrap` building dependencies for all platforms if the binaries cannot be downloaded.

We should consider to at least provide a `--platform` switch to carthage commands for each platform.

See near the end of the Travis log _for the macOS platform_:

[code]

[2018-10-09 21:43] leandromperez opened #103 "Carthage fails to build ReSwiftRouter"
Hi,

I am trying to build ReSwiftRouter using carthage update --platform ios.

Carthage fails to build ReSwiftRouter, here's the console log, and attached the actual log.

Probably this isn't a bug, but something I have missed...

Any thoughts?

[carthage.log](https://github.com/ReSwift/ReSwift-Router/files/2462328/carthage.log)

*** Building scheme "ReSwiftRouter-iOS" in ReSwiftRouter.xcodeproj
B

[2018-10-10 15:47] jjgp commented on #103
Do you mind sharing your Cartfile? I'm guessing we need to rev the version of ReSwiftRouter. For example the following Cartfile will compile:

https://github.com/jjgp/ReddiX-iOS/blob/master/Cartfile

Carthage is likely pulling the last tagged version. I used "master" in the Cartfile above.

[2018-10-10 15:53] leandromperez commented on #103
Thanks for your response, i'll take a look and see if using "master" does the trick.

**Cartfile**
github "ReactiveX/RxSwift" ~> 4.0
github "ReSwift/ReSwift"
github "ReSwift/ReSwiftRouter"
github "RxSwiftCommunity/RxSwiftExt"
github "Moya/Moya"

**Cartfile.Resolved**
github "Alamofire/Alamofire" "4.7.3"
github "Moya/Moya" "11.0.2"
github "ReSwift/ReSwift" "4.0.1"
github "ReSwift/ReSwiftRouter" "0.

[2018-10-10 16:04] leandromperez commented on #103
That worked! thanks @jjgp

[2018-10-10 16:04] #103 closed

[2018-10-10 16:11] jjgp commented on #103
great! when I have an issue opened to look at the versioning some more and will revisit this there.

[2018-10-12 08:20] drkibitz opened #104 "Does not build in Xcode 10 by dragging project into workspace"
The problem is the iOS target's *copy-frameworks* phase. This fails, because I am not using carthage in my build pipeline for my application, purposefully.

I don't think a framework should have a "copy-frameworks" phase. This should be reserved for executables.

[2018-10-12 08:40] drkibitz commented on #104
This is a false alarm, seems I had an invalid submodule propagated through carthage in the first place, and ReSwift-Router's copy-frameworks phase was what was failing. Not sure how it got in this state, but a fresh clone builds. Sorry for the false alarm.

@DivineDominion Though if you would like to continue the discussion about why the "copy-frameworks" phase is needed, that's fine. Because I st

[2018-10-12 23:22] #78 closed

[2018-10-12 23:46] mjarvis commented on #104
Looks like I made a mistake back when I reorganized things. Thanks for pointing this out!

[2018-10-13 00:18] drkibitz commented on #104
Sounds good, thanks @mjarvis !

[2018-10-13 01:53] drkibitz commented on #104
@mjarvis I just remembered a theory about why my Git/Carthage barfed. So the repo is `ReSwift/ReSwift-Router`, but the Carthage instructions say `github "ReSwift/ReSwiftRouter"`. Test Github serves up a 301 at this URL, but there might be something weird going on with Carthage in terms of parsing and what not. I remember I changed my Cartfile to ``github "ReSwift/ReSwift-Router"` and recloned and

[2018-10-13 08:28] #104 closed

[2018-11-18 01:58] drkibitz opened #110 "Please release a new version"
So we do not have to pin to "master" for anything building with Xcode 10

[2018-11-20 10:21] DivineDominion commented on #110
Since there's scant active development, the argument can go in either direction: release an arbitrary version and upload a binary for convenience, or don't, because there was virtually no progress.

@mjarvis I don't think it hurts to release 0.6.1 to make life easier for folks using Swift 4.2. Do you have objections?

[2018-11-20 17:45] mjarvis commented on #110
I don't object to publishing a new release. However, @Ben-G is the only person with permissions for the cocoapods trunk entry for this (see `pod trunk info ReSwiftRouter`)

[2019-04-01 10:01] halonsoluis commented on #49
Same issue here, any updates on it?
- ReSwift (4.0.1)
- ReSwiftRouter (0.6.0):

[2019-04-08 02:13] ciathyza opened #112 "Which classes should be defined as Routable?"
Currently trying to follow the sample code to implement this but how/where do I implement `Routable` classes? A sample app would be useful!

Or could somebody provide an example of `RootRoutable` used in the documentation?

[2019-04-08 02:52] ciathyza commented on #112
nvm, found the answer in #94

[2019-04-08 02:52] #112 closed

[2019-04-09 06:35] ciathyza opened #113 "Enums as RouteElementIdentifier"
Would it be possible (and make sense) to change the ReSwiftRouter code to use String enums for the RouteElementIdentifier instead of just string?

It would be much cleaner to use enums in the Routable callback methods instead of string. But I'm wondering how this could be changed so that a custom (project-defined) string enum can be used with the router.

Any ideas?

[2019-04-11 10:29] AdieOlami commented on #110
I get this error in my terminal please

[code]

[2019-04-11 10:32] AdieOlami opened #114 "Error installing with cocoapod"
I tried using ReSwiftRouter and I got the following error. Any help as to why?

[code]

[2019-04-12 07:06] ciathyza commented on #70
We need something very similar, essentially a `struct MultiNavigationState` that has a different navigation state for every tabbar page. Any thoughts on this? How difficult would it be to change ReSwiftRouter to support this?

[2019-05-20 12:29] DivineDominion opened #117 "v0.7.0 Release"
We have a breaking change already on master, removing the action creator stuff.

- [x] #111 Change SwiftPM target type
- [x] #115 Update for Swift 5
- [x] #116 rename methods for "modern" conventions (i.e. according to the last 3 years of practice :))
- [x] increase version number, of course
- [x] push to CocoaPods
- [x] update to ReSwift 5

Anything else that comes to mind, folks?

[2019-05-20 12:30] DivineDominion commented on #110
Preparing for this in #117.

[2019-05-20 12:30] #110 closed

[2019-05-20 14:12] Ben-G commented on #110
Sorry about that!

Can I add either/both of you folks?

[2019-05-27 07:42] DivineDominion commented on #110
Yes, seems you've already done so. Thanks, @Ben-G :)

[2019-06-15 16:52] prashanthbabu07 commented on #114
I had the same issues but cloning the source and adding the project to workspace should help.

[2019-07-11 03:41] kmmraj commented on #88
I think it is a bug, the change action should be called when the routes are
old --> [ "foo", "bar1", "baz" ]
new --> [ "foo", "bar2" ]
the transistion between bar1 to bar2

[2019-07-16 14:56] UXDart opened #120 "AddRouter case / TabBar how to implement... questions"
Hello! two questions:
1) why there isn't a AddRouteAction()? if I just want to push a view, why I need to know the current route? seems like the most used use case of a router...I must be missing something...
2) how do you work with a TabBar, where each tabBarItem has it's own route?

Thanks!

note: I'm using a navigation controller on each tabbar item

[2019-07-21 00:12] UXDart opened #121 "navigator usage"

[2019-07-21 00:38] #121 closed

[2019-07-23 11:51] UXDart opened #122 "can I help?"
what I want to write, but the question is if (not 100% sure but) you will include it into the package? what I want to do is a way to:
* push a new route into the actual route (simple thing)
* support for tabbar, auto save each route for each tabbar
* support for push a VC "with specificData" (not two calls)
* easy way to manage specificData for each route part inside a route
* and what I need, but

[2019-07-25 06:12] DivineDominion commented on #122
As far as I can tell, nobody is pushing an agenda for the Router, so your ideas might not conflict with anybody else's. I think your ideas are pretty cool!

So, PRs are always welcome, but I would like to suggest you start with the least invasive changes to get us all up to speed again with the library during the PR reviews :)

[2019-07-25 06:21] DivineDominion commented on #120
It sounds like you are looking for https://github.com/ReSwift/ReSwift-Router/pull/89, right?

There's a few tests for the reducer missing, I think, but otherwise it's a good start. With regard to #122, would you want to take over the implementation of #89's features in your own PR?

[2019-07-26 13:43] #88 closed

[2019-07-31 15:51] #117 closed

[2019-08-07 16:11] DivineDominion commented on #114
This should now be fixed with the new release and its ReSwift dependency. Please reopen if it persists.

[2019-08-07 16:11] #114 closed

[2021-06-15 17:33] BergQuester opened #127 "Can't use with ReSwift 6.1.0"
I'm getting a SPM error with conflicting versions:

![image](https://user-images.githubusercontent.com/1323628/122097991-84817b00-cdcd-11eb-899c-2c419f03f472.png)

[2021-06-18 12:10] DivineDominion commented on #127
I think none of us have tested the Router repo with the latest ReSwift versions. The resources for that are lacking since 2019, esp. since none of the core maintainers apparently use the Router lib :)

That being said, the transition shouldn't be too hard because we didn't change a lot in the past years. But Xcode compatibility and some deprecation notices have to be done. SPM may need some love,

[2021-06-18 12:10] #127 closed

[2021-06-18 12:10] #122 closed

[2021-06-18 12:11] #120 closed

[2021-06-18 12:11] #94 closed

[2021-06-18 12:11] DivineDominion commented on #91
Implemented in the meantime

[2021-06-18 12:11] #91 closed

[2021-06-18 12:11] #64 closed

[2021-06-18 12:12] DivineDominion commented on #64
Closing b/c super outdated

[2021-06-18 12:12] DivineDominion commented on #113
RawRepresentable with String might be an option. Closing b/c inactive for so long

[2021-06-18 12:12] #113 closed

[2021-07-02 12:29] blastar opened #128 "Cannot use ReSwift-Router with ReSwift 6.x"
When using Swift Package Manager I cannot add ReSwift-Router when using newest ReSwift version 6.x because of wrong dependecy in Package.swift - upToNextMajor(from: "5.0.0")

[2021-07-02 16:29] DivineDominion commented on #128
See #127

Would be great if you could submit a fix, pin to 6.1 and make some Swift updates. None of the ReSwift core team is currently using the Router package, I think

[2022-01-18 07:22] pengzhiqiang110 opened #131 "运行不起来"
示例代码呢? 运行不起来啊 只有库哪有示例的的代码啊

[2022-01-18 08:07] #131 closed, assigned to nobody

[2022-04-06 22:00] BergQuester commented on #128
FWIW, this was fixed in https://github.com/ReSwift/ReSwift-Router/pull/129

[2022-04-06 22:04] BergQuester commented on #49
This also has been an issue for us.

[2022-04-08 08:03] DivineDominion commented on #49
I'm not using the Router; what do you think could be a solution here?

[2022-04-08 08:04] #128 closed

[2022-04-08 08:04] DivineDominion commented on #128
Thanks for the ping